<!DOCTYPE html>
<html>
<head>
  <title>Sweeet - Best cafes for freelancers and entrepreneurs to work from</title>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/css/custom.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:100,400|Roboto:100,400">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="public/application.js"></script>
  <script type="text/javascript" src="public/spots-app.js"></script>



</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid wrap">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">sweeet <span class="brand-country">HONG KONG</span></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form action="" class="navbar-form navbar-left">
           <div class="input-group search-district">
               <input type="Search" placeholder="Central, Wanchai, Causeway Bay..." id="search-district" class="form-control" />
               <div class="input-group-btn">
                   <button class="btn navbar-btn-search" id="search-district-btn">
                   <span class="glyphicon glyphicon-search"></span>
                   </button>
               </div>
           </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li id="addspot-form-button" class="hidden">
            <button type="button" class="btn navbar-btn navbar-btn-important" data-toggle="modal" data-target="#addspot-modal">ADD A SPOT</button>
            <div class="modal fade" id="addspot-modal" tabindex="-1" role="dialog" aria-labelledby="addspot-label">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="addspot-label">Add your favorite spot</h2>
                  </div>
                  <div class="modal-body">
                    <form id="addspot-form">
                      <div class="form-group">
                        <label for="addspot-name">Name</label>
                        <input type="text" class="form-control" id="addspot-name" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <label for="addspot-type">Type</label>
                        <select class="form-control" id="addspot-type">
                          <option>Cafe</option>
                          <option>Coworking space</option>
                          <option>Restaurant</option>
                          <option>Hotel lounge</option>
                          <option>Other</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="addspot-address">Address</label>
                        <input type="text" class="form-control" id="addspot-address" placeholder="Address">
                      </div>
                      <div class="form-group">
                        <label for="addspot-district">District</label>
                        <select class="form-control" id="addspot-district">
                          <option>Central and Western</option>
                          <option>Wanchai</option>
                          <option>Eastern</option>
                          <option>Southern</option>
                          <option>Yau Tsim Mong</option>
                          <option>Kowloon City</option>
                          <option>Sham Shui Po</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="addspot-city">City</label>
                        <select class="form-control" id="addspot-city">
                          <option>Hong Kong</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="addspot-wifitype">Wifi Type</label>
                        <select class="form-control" id="addspot-wifitype">
                          <option>Free</option>
                          <option>Paid</option>
                          <option>None</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="addspot-wifispeed">Wifi Speed</label>
                        <select class="form-control" id="addspot-wifispeed">
                          <option>Slow</option>
                          <option>Normal</option>
                          <option>Fast</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="addspot-wifipassword">Wifi Password</label>
                        <input type="text" class="form-control" id="addspot-wifipassword" placeholder="Wifi password">
                      </div>
                      <div class="form-group">
                        <label for="addspot-price">Price</label>
                        <select class="form-control" id="addspot-price">
                          <option>Cheap</option>
                          <option>Normal</option>
                          <option>Expensive</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="addspot-outlets">Outlets</label>
                        <select class="form-control" id="addspot-outlets">
                          <option>None</option>
                          <option>Few</option>
                          <option>Normal</option>
                          <option>Plenty</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="addspot-seats">Seats</label>
                        <select class="form-control" id="addspot-seats">
                          <option>Few</option>
                          <option>Normal</option>
                          <option>Plenty</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="addspot-food">Food</label>
                        <select class="form-control" id="addspot-food">
                          <option>None</option>
                          <option>Pastries</option>
                          <option>Full meal</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="addspot-picture">Picture Url</label>
                        <input type="text" class="form-control" id="addspot-picture" placeholder="Picture Url">
                      </div>
                      <button type="submit" class="btn btn-primary col-xs-12" href="/">SUBMIT THIS SPOT</button>
                      <div class="alert alert-success addspot-success hidden" role="alert"></div>
                      <div class="alert alert-danger addspot-error hidden" role="alert"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="signin-form-button">
            <button type="button" class="btn navbar-btn" data-toggle="modal" data-target="#signin-modal">SIGN IN</button>
            <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="myModalLabel">Already a member?</h2>
                  </div>
                  <div class="modal-body">
                    <form id="signin-form">
                      <div class="alert alert-success signin-success hidden" role="alert"></div>
                      <div class="alert alert-danger signin-error hidden" role="alert"></div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="signin-email" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="signin-password" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-primary col-xs-12" href="/">SIGN IN</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="signup-form-button">
            <button type="button" class="btn navbar-btn navbar-btn-important" data-toggle="modal" data-target="#signup-modal">SIGN UP</button>
            <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="myModalLabel">Create your account</h2>
                  </div>
                  <div class="modal-body">
                    <form id="signup-form">
                      <div class="alert alert-success signin-success hidden" role="alert"></div>
                      <div class="alert alert-danger signin-error hidden" role="alert"></div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control" id="signup-username" placeholder="Username">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="signup-email" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="signup-password" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-primary col-xs-12" href="/">SIGN UP</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li id="loggedin-email" class="dropdown hidden">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged in<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Favorites</a></li>
              <li role="separator" class="divider"></li>
              <li><a id="signout" href="#">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="spots-filters">
    <div class="container-fluid wrap">
      <button class="btn btn-default" type="submit"></button>
    </div>
  </div>
  <div class="spots-view">
    <div class="container-fluid wrap">
      <div id="loading" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div id="spots-list" class="col-xs-12">
      </div>
    </div>
  </div>
  <div class="modal fade" id="spot-modal" tabindex="-1" role="dialog" aria-labelledby="spot-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="spot-modal-content">
      </div>
    </div>
  </div>
</body>
</html>